<div class="container-gameset">
  <app-score [userName]="userName" [score]="score"></app-score>

  <div class="container-gameset-board">
    <div class="alert-msg">
      {{ alert }}
    </div>

    <div class="player1">
      <img src="{{ movePlayer1 }}" />
    </div>

    <div class="player2">
      <img src="{{ movePlayer2 }}" />
    </div>
  </div>

  <div class="container-gameset-controls">
    <div *ngIf="!isFinish" class="control" (click)="onClick('rockgame')">
      <img src="assets/myicons/rock.png" />
    </div>

    <div *ngIf="!isFinish" class="control" (click)="onClick('siccsorsgame')">
      <img src="assets/myicons/siccsors.png" />
    </div>

    <div *ngIf="!isFinish" class="control" (click)="onClick('papergame')">
      <img src="assets/myicons/paper.png" />
    </div>

    <div *ngIf="isFinish" (click)="runAgain()" class="container-try-again">
      <img src="assets/myicons/tryagain.png" />
    </div>
  </div>
</div>
